<!DOCTYPE html>
{% load humanize %}
{% load bootstrap_toolkit %}
<html lang="en">
<head>
  <title>Expense Sheet</title>
  {% bootstrap_stylesheet_tag %}
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js"></script>
  {% bootstrap_javascript_tag %}
</head>

<body>
<div class='row-fluid'>

<!-- Header/Navigation Bar-->
<div class="navbar navbar-static-top">
  <div class="navbar-inner">
    <ul class="nav">
      <li><h1>My Expenses</h1></li>
      <li>
        <form action="new/" method="get">
          <input type="submit" value="Add Expense" data-toggle="modal" href="new/" data-target="#newExpense" class="btn btn-primary btn-small" style="margin-left:15px;margin-top:20px"/>
        </form>
      </li>
    </ul>
  </div>
</div>

<!-- Main Content -->
<div class='container-fluid'>
<div class="span12" style="margin-left:0px">

<!-- Expense Table -->
{% if expenses %}
  <table class='table table-hover'>
    <tr>
      <thead>
        <th>Date</th>
        <th>Store</th>
        <th>Price</th>
        <th>Payment Type</th>
        <th>Category</th>
        <th></th>
      </thead>
    </tr>
  {% for expense in expenses %}
    <tr>
      <tbody>
        <td>{{expense.date}}</td>
        <td>{{expense.store}}</td>
        <td>${{expense.price|floatformat:"2"|intcomma}}</td>
        <td>{{expense.payment_type}}</td>
        <td>{{expense.category}}</td>
        <td>
          <ul class="inline">
            <li><a href='{{expense.id}}/' class='btn btn-small' data-trigger='toggle' title="edit"><i class='icon-edit'></i></a></li>
            <li><form action='{{expense.id}}/delete/' method='post'>{% csrf_token %}
              <button class='btn btn-danger btn-small' title='delete'><i class='icon-trash icon-white'></i></button>
            </form></li>
          </ul>
        </td>
      </tbody>
    </tr>
  {% endfor %}
  </table>
{% else %}
    <p>No expenses logged.</p>
{% endif %}
</div>
<!-- Button to trigger modal -->

</div>

<!-- Modal -->
<div id="newExpense" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="newExpenseLabel" aria-hidden="true">
  <div class="modal-body">
  </div>
</div>

</div>

</body>
</html>